name: Build Wheels

on:  
  push:
    tags:
      - '*'

env:
  CIBW_SKIP: pp* *-win32 *-manylinux_i686 *-musllinux* 
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04,  macos-latest, windows-2019]
        arch: [auto]
        include:
          - os: ubuntu-20.04
            arch: aarch64
    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: joerick/cibuildwheel@v2.19.1
        # to supply options, put them in 'env', like:
        env:
          CIBW_ARCHS_LINUX: ${{matrix.arch}}
          CIBW_BEFORE_BUILD: pip install numpy
          CIBW_ARCHS_MACOS: "x86_64 arm64"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl